.home-container{
    width: 85%;
    margin: auto;
}
#banner-image{
    height: 65vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
#mobile-banner-image{
    height: 100%;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}