<div class="footer-container">
  <div class="footer-grid">
    <div class="footer-item">
      <div class="footer-branding">
        <h2>Groce Mart Admin</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate corrupti, dolorum nulla repudiandae eos similique!</p>
      </div>
    </div>
    <div class="footer-item">
      <div class="footer-links flex-container">
        <h2 class="flex-item">Explore</h2>
        <a class="flex-item" routerLink="/home">Home</a>
        <a class="flex-item" routerLink="/account">Account</a>
        <a class="flex-item" routerLink="/home">Home</a>
        <a class="flex-item" routerLink="/account">Account</a>
      </div>
    </div>
    <div class="footer-item">
      <div class="footer-contact">
        <h2 class="flex-item">Contact</h2>
        <p class="flex-item">20, Somasundaram 1st Street</p>
        <p class="flex-item">Chennai 600023</p>
        <p class="flex-item">Tamil Nadu, India</p>

      </div>
    </div>
  </div>
</div>
<div id="designer">
  &copy; Copyright Web $cripters | Naresh Kumar
</div>
