<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'over'"
      [opened]="false"
      position="end"
      >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/home">Home</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/account">Account</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/profile">Profile</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span *ngIf="(isHandset$ | async)" class="spacer"></span>
      <span *ngIf="(isHandset$ | async)">
        <a *ngIf="!showSearch" id="brand-text" routerLink="/">  Groce Mart </a>
      </span>
      <span *ngIf="!(isHandset$ | async)">
        <a id="brand-text" routerLink="/">  Groce Mart </a>
      </span>
      <span class="spacer"></span>
      <span *ngIf="!(isHandset$ | async)" class="navbar-left">
        <button [routerLinkActive]="['active']" mat-button routerLink="/home">Home</button>
        <button [routerLinkActive]="['active']" mat-button routerLink="/account">Account</button>
      </span>
      <span>

        <img *ngIf="!(isHandset$ | async)" class="brand-image" src="../../../assets/20200504_010800.png" width="100px" height="100px" alt="" srcset="">
      </span>
      <span *ngIf="!(isHandset$ | async)" class="navbar-right">
        <button [routerLinkActive]="['active']" mat-button routerLink="/profile">Profile</button>
        <button [routerLinkActive]="['active']" routerLink="/products" mat-button>Products</button>
      </span>
      <span class="spacer"></span>
      <span *ngIf="(isHandset$ | async)" class="spacer"></span>
      <span *ngIf="showSearch">
        <form (ngSubmit)="onSearchSubmit()">
          <mat-form-field class="search-bar" *ngIf="showSearch" appearance="legacy">
            <mat-label><mat-icon>search</mat-icon></mat-label>
            <input #searchInput id="search-feild" name="search" [(ngModel)]="search" matInput placeholder="Search groceries">
          </mat-form-field>
          <button  color="search-color" mat-mini-fab>
            <mat-icon matSuffix>search</mat-icon>
          </button>
        </form>
      </span>
      <button *ngIf="!showSearch" color="nav-color" (click)="showSearch=!showSearch" mat-mini-fab>
        <mat-icon matSuffix>search</mat-icon>
      </button>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
