<div class="footer-container">
    <mat-grid-list
        cols="3"
        rowHeight="14rem"
        gutterSize="10px"
    >
        <mat-grid-tile
            class="footer-grid"
            [colspan]="(isHandset$ | async) ? 3 : 1"
        >
            <mat-grid-tile-header id="brand-footer">
                <a routerLink="/home" class="footer-heading"><h1>Groce Mart</h1></a>
            </mat-grid-tile-header>
            <div class="footer-list" >
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet veritatis et est.</p>
            </div>

        </mat-grid-tile>
        <mat-grid-tile
            class="footer-grid"
            [colspan]="(isHandset$ | async) ? 3 : 1"
        >
            <mat-grid-tile-header id="brand-footer">
                <a routerLink="/home" class="footer-heading"><h1>Discover</h1></a>
            </mat-grid-tile-header>
            <div class="flex-container" >
                <p class="flex-item"><a class="footer-link" routerLink="/home">Home</a></p>
                <p class="flex-item"><a class="footer-link" routerLink="/account">Account</a></p>
                <p class="flex-item"><a class="footer-link" routerLink="/profile">Profile</a></p>
                <p class="flex-item"><a class="footer-link" href="#">Products</a></p>
                
            </div>

        </mat-grid-tile>
        <mat-grid-tile
            class="footer-grid"
            [colspan]="(isHandset$ | async) ? 3 : 1"
        >
            <mat-grid-tile-header id="brand-footer">
                <a routerLink="/home" class="footer-heading"><h1>Connect with us!</h1></a>
            </mat-grid-tile-header>
            <div class="flex-container-connect" >
                <h4 class="flex-item">Naresh Kumar</h4>
                <p class="flex-item">157, Kamakshi Amman Sannathi Street</p>
                <p class="flex-item">Kanchipuram - 631502</p>
                <p class="flex-item">nareshkmr219@gmail.com</p>
                <p class="flex-item">+91 7904303142</p>
            </div>

        </mat-grid-tile>
    </mat-grid-list>
</div>
<div id="designer">
    &copy; Copyright Web $cripters | Naresh Kumar
</div>